@import "../abstracts/mixins";

/* featured collection */

.feature-container {
  padding-bottom: 8rem;
  @include titleHeading;
}

.property-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2.8rem;
  gap: 2.8rem;
  margin-top: 6rem;
  @include respond(phone) {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .property-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .property-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.navbar__burger {
  display: none;
}

@media (max-width: 640px) {
  .navbar__burger {
    display: inline-block;
  }
  .register-btn {
    display: none;
  }
}

.register-btn.footer__login {
  color: white;
  border-color: white;
}

.register-btn.footer__login:hover:before {
  background-color: orangered;
}

.register-btn.footer__login:hover {
  border-color: transparent;
}

.property-card {
  max-width: 100%;
  cursor: pointer;

  .property-card-image {
    max-height: 30rem;
    max-width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
    }
  }

  img:hover {
    transform: scale(1.2);
  }
  .card-title {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .card-price {
    color: #002e53;
    font-weight: 900;
    font-size: 1.6rem;
  }
  .card-location {
    color: #8d8d8d;
    font-size: 1.6rem;
  }
}

.card-content > * {
  padding: 1rem;
}

/* about section */

.about-section {
  margin-top: 5rem;
}

.about-section-container {
  display: flex;
  align-items: center;
  gap: 1.6rema;
  margin-top: 8rem;

  @media (max-width: 640px) {
    & {
      flex-direction: column-reverse;
    }
  }
  .left__about-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .left__about-section--subhead {
      font-size: 2rem;
      font-weight: 900;
      color: #838383;
    }
    .left__about-section--mainhead {
      font-size: 5rem;
    }
    .left__about-section--description {
      font-size: 2.3rem;
      font-weight: 500;
      color: #353a3f;
    }
    .buttons {
      display: flex;
      gap: 3rem;
      a {
        font-size: 1.3rem;
      }
    }
  }
  .right__about-section {
    border-radius: 30px;
    overflow: hidden;
    flex: 1;
    .image__about-section {
      width: 100%;
      height: 100%;
    }
  }
}

/* our vision */

.our-vision-container {
  margin-top: 6rem;
  @include titleHeading;
  background-image: linear-gradient(to left bottom, #a6daf0c5, #afe3f9da),
    url(../../images/real-estate.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-4deg);
  .vision-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: skewY(4deg);

    .vision-cards {
      max-width: 20rem;
      background-color: white;
      margin: 4rem;
      padding: 1rem;
      height: 25rem;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.25);
      transition: transform 0.4s;
      outline-offset: 1rem;
      p {
        font-size: 1.6rem;
        text-align: center;
        line-height: 2.5rem;
        padding-top: 3rem;
        color: #838383;
      }
      i {
        font-size: 3rem;
        color: #002e53;
      }
      .vision-cards--c {
        text-align: center;
      }
      &:hover {
        transform: scale(1.05);
        outline: 1rem solid #002e53;
      }
    }
  }
  h2 {
    padding-top: 2rem;
    transform: skewY(4deg);
  }
}

/*navigation*/

//mobile

.mobile-links {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  ul {
    li {
      font-size: 5rem;
      margin: 5rem;
      text-align: center;
      transition: all 0.5s;

      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
      }

      &:hover {
        transform: translateX(5px);
      }
    }
  }
}

/* FOOTER SECTION */

.footer {
  margin-top: -5.4rem;

  font-size: 1.6rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 1)
  );
  padding: 2rem 0;

  &__container {
    padding-top: 10.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    hr {
      background-color: rgba(255, 255, 255, 0.1);
      border: none; /* Remove default border */
      height: 2px; /* Set the height */
    }
  }
  &__toplinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
      gap: 1rem;
    }
    &--link {
      position: relative;
      overflow-x: hidden;
    }
    &--link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      z-index: 20;
      background-color: white;
      transform: translateX(-120%);
      transition: all 0.4s ease-in-out;
    }

    &--link:hover:after {
      transform: translateX(0);
    }
    &--link.active:after {
      transform: translateX(0);
    }

    ul {
      display: flex;
      gap: 4rem;
      align-items: center;
      li {
        a {
          color: white;
        }
      }
    }
  }

  &__login {
    color: white;
  }

  &__middlelinks {
    display: flex;
    gap: 28rem;
    align-items: center;
    flex-wrap: wrap;
    color: white;

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;
    }
    @include respond(tablet) {
      gap: 3rem;
    }

    @include respond(large) {
      gap: 5rem;
    }

    &--links {
      h5 {
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 4rem;
      }
      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 1.5rem 0;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  &__logo {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }
}
