.properties-listing {
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;

  .property-card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}

.heading-primary {
  font-size: 3rem;
  text-align: center;
}

.mt-md {
  margin-top: 2rem;
}
.mt-lg {
  margin-top: 4rem;
}

.mb-md {
  margin-bottom: 2rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
